<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

hello,xiaoyun461wawa

Id: <span>1</span>
name: <span>超强电风扇</span>
birthday: <span>2019-11-15</span>
birthday: <span>21:32:03</span>
birthday: <span>2019-11-15 21:32:03</span>

<table>
    <tr>
        <td>ID</td>
        <td>NAME</td>
        <td>Birthday</td>
    </tr>
        <td>1</td>
        <td>超强电风扇</td>
        <td>2019-11-15</td>
        <td>2</td>
        <td>超强冰箱</td>
        <td>2019-11-15</td>

    小鲜肉
    )

    

</table>

</body>
</html>